.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  align-self: start;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    max-width: 456px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    margin-left:auto;
    margin-right: auto;
  }
  .place__paragraph:last-child {
    margin-bottom: 50px;
  }
}
